
<div id='map' class='blur'></div>
<div id='container'>
  <%= render 'menu' %>
  <div id='items'>

      <div class="spinner" style="display: none;">
        <%= image_tag("loader.gif") %>
      </div>

      <span class="error hidden">
        Server is not working. Try again later.
      </span>

    <% if user_signed_in? %>
      <div id='item-menu'>
        <ul>
          <li id='all'>All<span id='c-all' class='count'></span></li>
          <li id='delivered'>Delivered<span id='c-delivered' class='count'></span></li>
          <li id='in-transit'>In Transit<span id='c-intransit' class='count'></span></li>
        </ul>
      </div>
    <% end %>

    <div id='item-list'>

    </div>
  </div>

  <div id="track-detail-info">

  </div>
</div>