<%= render 'menu' %>

<div>
  <div id='map'></div>
  <div id='items'>

      <div class="spinner" style="display: none;">
        <%= image_tag("loader.gif") %>
      </div>

    <div id='item-menu'>
      <ul>
        <li id='all'>All</li>
        <li id='delivered'>Delivered</li>
        <li id='in-transit'>In Transit</li>
      </ul>
    </div>

    <div id='item-list'>

    </div>
  </div>
</div>