$font: 'Titillium Web', sans-serif;
$menu-color: rgba(0, 159, 221, 0.82);
$menu-font-color: white;
$green: #F5FF00;


a {
  text-decoration: none;
}



#container {
  min-width: 65em;
}

/*------------------------------------
              MENU
------------------------------------*/

nav {
  margin-left: 2.5em;
  margin-top: .2em;
  padding: 0.3em;
  min-width: 61em;
  width: 94.7%;
  height: 2.5em;
  background-color: $menu-color;
  position: fixed;
  z-index: 100;
}

nav ul {
  margin-top: -.84em;
  list-style-type: none;
  padding-left: 0;
}

#maptrack a {
  color: $green;
}

nav li {
  font-family: $font;
  color: $menu-font-color;
  font-size: 1.8em;
  float: left;
  margin-top: .4em;
  margin-left: 1em;
}

nav a {
  color: $menu-font-color;
}

#user_nav {
  float: right;
}


#add-number {
  cursor: pointer;
}

input#q {
  font-size: 18px;
  height: 1.8em;
  width: 14.5em;
  padding-left: .5em;
  margin-top: 0;
  background-color: #F5F5F5;
  border: none;
  color: #5688BE;
}

#create-btn {
  margin-top: -0.9em;
  cursor: pointer;
  border: none;
  height: 3.1em;
  color: #FFF;
  background-color: #FA7E5F;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#user_nav {
  margin-top: -.3em;
  margin-right: 1em;
  height: 2.7em;
}

.signed-in-as {
  margin-bottom: -10px;
  float: right;
  color: $menu-font-color;
  font-family: $font;
  font-weight: 200;
}

#sign {
  margin-top: .3em;
  color: #C05D3E;
  float: right;
  clear: both;
}

#sign a {
  font-family: $font;
}

#spnTrNrStatus {
  position: absolute;
  color: white;
  font-family: $font;
  margin-top: .5em;
  margin-left: .5em;
}

/*------------------------------------
              MAP
------------------------------------*/

#map{
height: 100%;
left: 0;
position: fixed !important; /* Acts in pretty much the same way as background-attachment: fixed for an image background. Has to be !important only if you're using the Google Maps API. */
top: 0;
width: 100%;
z-index: 1; }

#item-menu ul {
  list-style-type: none;
  margin-bottom: .3em;
  width: 20.7em;
  height: 1em;
  padding: .6em;
  background-color: $menu-color;
}

#item-menu li {
  margin-top: -0.3em;
  font-size: 1.2em;
  font-family: $font;
  color: $menu-font-color;
  float: left;
  margin-left: .8em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#item-menu li:hover, .item p:hover {
  color: #F5FF00;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#items {
  top: 3em;
  float: right;
  position: relative;
  margin-right: .7em;
  z-index: 100;
}

.item {
  background-color: rgba(27, 179, 238, 0.82);
  padding: 7px;
  margin-bottom: 4px;
  width: 21em;
}

.item p {
  cursor: hand;
  cursor: pointer;
  margin: .1em;
  color: white;
  font-size: 1.4em;
  font-family: $font;
  font-weight: 200;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

p.tr-detail {
  font-size: 1em;
}

.single-item {
  margin-top: .8em;
}

hr {
  margin-top: -0.4em;
  border: 1px solid rgba(255, 255, 255, 0.83);
}

.item span {
  font-family: $font;
  font-weight: 200;
  color: white;
}

#item-list {
  overflow: scroll;
  height: 31em;
}

.track-details {
  margin-top: .5em;
  padding-top: .5em;
  border-top: 2px solid rgba(255, 255, 255, 0.76);
}

p.tr-detail {
  cursor: default;
  padding-bottom: .4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}

.spinner, .spinner2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner img {
  display: block;
  margin: 100px auto;
}

.spinner2 img {
  margin-left: 46%;
  margin-top: .5em;
}


.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.86);
  -webkit-border-radius: 20px;
  border-radius: 5px;
}

/*------------------------------------
              TRACK
------------------------------------*/
.hidden {
  visibility: hidden;
  display: 'none';
}

#track {
  width: 25em;
  float: left;
  margin-left: 2em;
}

/*------------------------------------
          NEW USER/SIGN IN
------------------------------------*/

#signup {
  background-color: $menu-color;
  padding: 1em;
  zoom: 1;
  width: 20em;
  margin: auto;
  margin-top: 7%;
}

#signup h2, #signup label, #signup a {
  color: white;
  font-family: $font;
}

#signup p {

}

form#new_user input {
  height: 3em;
  width: 100%;
  margin-top: 0;
  background-color: #F5F5F5;
  border: none;
  color: #5688BE;

}

form#new_user.new_user input#create-user {
  margin-top: 2em;
  font-size: .8em;
  background-color: #FC8560;
  color: #FFF;
}


#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#back {
  background: url("map.png");
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

#back img {
  -webkit-filter: blur(3px);
}



